---
import Container from "./Container.astro"
---

<div class="text-gray-600 dark:text-gray-300" id="reviews">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        Our services:
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
        
          <div>
         
            <ul>
              <li>Cleaning Supplies and Equipment</li>
              <li>Oil and Fuel Supplies</li>
              <li>House Supplies (Bedrooms, Bathrooms, and Kitchen)</li>
              <li>Transportation</li>
              <li>Safety Equipment and Services</li>
              <li>Stationery, Printing, and Photocopying</li>
              <li>IT Services & Equipment</li>
              <li>Installing Surveillance and Security Systems for Facilities</li>
              <li>Electrical Tools and Equipment</li>
              <li>Food Commodities</li>
              <li>Non-Food Items</li>
              <li>Training Venue Rental</li>
              <li>Training Services</li>
              <li>Hygiene Kits</li>
              <li>Water Trucking</li>
              <li>Office Equipment and Furniture</li>
              <li>Prefabricated Structures</li>
              <li>Electronic Devices</li>
              <li>Cleaning Materials</li>
          </ul>
          </div>
        </div>
       
      </div>

 
   
    </div>
  </Container>
</div>